.projects-section {
    flex: 2;
    background-color: var(--projects-section);
    border-radius: 32px;
    padding: 32px 32px 0 32px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
.projects-section-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
  }
.projects-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    color: var(--main-color);
  }
.projects-section-header p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    opacity: 0.9;
    margin: 0;
    color: var(--main-color);
  }
.projects-section-header .time {
    font-size: 20px;
  }
.view-actions {
    display: flex;
    align-items: center;
  }
.view-btn {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    color: var(--main-color);
    margin-left: 8px;
    transition: 0.2s;
  }
.view-btn.active {
    background-color: var(--link-color-active-bg);
    color: var(--link-color-active);
  }
.view-btn:not(.active):hover {
    background-color: var(--link-color-hover);
    color: var(--link-color-active);
  }
  @media screen and (max-width: 520px) {
    .projects-section {
      overflow: auto;
    }
    .projects-section {
      padding: 24px 16px 0 16px;
    }
    .projects-section-header p,
    .projects-section-header .time {
    font-size: 18px;
  }
  .view-btn {
    width: 24px;
    height: 24px;
  }
  }