.project-box-wrapper {
    padding: 8px;
    transition: 0.2s;
  }
  .project-box {
    --main-color-card: #dbf6fd;
    border-radius: 30px;
    padding: 16px;
    background-color: var(--main-color-card);
  }
  .project-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    color: var(--main-color);
  }
  .project-box-header span {
    color: #4a4a4a;
    opacity: 0.7;
    font-size: 14px;
    line-height: 16px;
  }
  .project-box-content-header {
    text-align: center;
    margin-bottom: 16px;
  }
  .project-box-content-header p {
    margin: 0;
  }
  .more-wrapper {
    position: relative;
  }
  .project-btn-more {
    padding: 0;
    height: 14px;
    width: 24px;
    height: 24px;
    position: relative;
    background-color: transparent;
    border: none;
    flex-shrink: 0;
  }
  .box-content-header {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    opacity: 0.7;
  }
  .box-content-subheader {
    font-size: 14px;
    line-height: 24px;
    opacity: 0.7;
  }
  
  .box-progress {
    display: block;
    height: 4px;
    border-radius: 6px;
  }
  .box-progress-bar {
    width: 100%;
    height: 4px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    margin: 8px 0;
  }
  .box-progress-header {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    margin: 0;
  }
  .box-progress-percentage {
    text-align: right;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
  }
  .project-box-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    position: relative;
  }
  .project-box-footer:after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    width: calc(100% + 32px);
    top: 0;
    left: -16px;
    height: 1px;
  }
  .participants {
    display: flex;
    align-items: center;
  }
  .participants img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .participants img:not(:first-child) {
    margin-left: -8px;
  }
  
  .add-participant {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    margin-left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  .days-left {
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    border-radius: 20px;
    flex-shrink: 0;
    padding: 6px 16px;
    font-weight: 700;
  }