.message-box {
    border-top: 1px solid var(--message-box-border);
    padding: 16px;
    display: flex;
    align-items: flex-start;
    width: 100%;
  }
  .message-box:hover {
    background-color: var(--message-box-hover);
    border-top-color: var(--link-color-hover);
  }
  .message-box:hover + .message-box {
    border-top-color: var(--link-color-hover);
  }
  .message-box img {
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 40px;
    height: 40px;
  }
  .message-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .message-header .name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: var(--main-color);
    margin: 0;
  }
  
  .message-content {
    padding-left: 16px;
    width: 100%;
  }
  
  .star-checkbox input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
  }
  .star-checkbox label {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .dark .star-checkbox {
    color: var(--secondary-color);
  }
  .dark .star-checkbox input:checked + label {
    color: var(--star);
  }
  .star-checkbox input:checked + label svg {
    fill: var(--star);
    transition: 0.2s;
  }
  
  .message-line {
    font-size: 14px;
    line-height: 20px;
    margin: 8px 0;
    color: var(--secondary-color);
    opacity: 0.7;
  }
  .message-line.time {
    text-align: right;
    margin-bottom: 0;
  }
  