.messages-btn {
    border-radius: 4px 0 0 4px;
    position: absolute;
    right: 0;
    top: 58px;
    background-color: var(--message-btn);
    border: none;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    display: none;
  }
  .messages-section {
    flex-shrink: 0;
    padding-bottom: 32px;
    background-color: var(--projects-section);
    margin-left: 24px;
    flex: 1;
    width: 100%;
    border-radius: 30px;
    position: relative;
    overflow: auto;
    transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);
  }
  .messages-section .messages-close {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 3;
    border: none;
    background-color: transparent;
    color: var(--main-color);
    display: none;
  }
  .messages-section.show {
    transform: translateX(0);
    opacity: 1;
    margin-left: 0;
  }
  .messages-section .projects-section-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 32px 24px 0 24px;
    background-color: var(--projects-section);
  }

  @media screen and (max-width: 880px) {
    .messages-section {
        transform: translateX(100%);
        position: absolute;
        opacity: 0;
        top: 0;
        z-index: 2;
        height: 100%;
        width: 100%;
    }
    .messages-section .messages-close {
        display: block;
    }
    .messages-btn {
        display: flex;
    }
  }

  @media screen and (max-width: 520px) {
    .projects-section-header p,
    .projects-section-header .time {
        font-size: 18px;
      }
    .messages-btn {
        top: 48px;
    }
  }