.app-sidebar {
    padding: 40px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.app-sidebar-link {
    color: var(--main-color);
    color: var(--link-color);
    margin: 16px 0;
    transition: 0.2s;
    border-radius: 50%;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .app-sidebar-link:hover {
    background-color: var(--link-color-hover);
    color: var(--link-color-active);
  }
  .app-sidebar-link.active {
    background-color: var(--link-color-active-bg);
    color: var(--link-color-active);
  }
  @media screen and (max-width: 520px) {
    .app-sidebar {
      display: none;
    }
  }