.search-wrapper.new-project {
  margin: 12px 0;
}

.create-project {
  --main-color-card: #dbf6fd;
  border-radius: 30px;
  padding: 16px;
  background-color: var(--main-color-card);
  width: 100%;
  border: transparent;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  margin-top: 25px;

  &:hover {
    --main-color-card: #3da1ba;
    background-color: var(--main-color-card);
    color: #ffffff;
  }
}

.new-project {
  margin-top: 20px;
}
