.app-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--app-container);
    transition: 0.2s;
    max-width: 1800px;
  }
  .app-container button,
  .app-container input,
  .app-container optgroup,
  .app-container select,
  .app-container textarea {
    font-family: "DM Sans", sans-serif;
  }
  .app-content {
    display: flex;
    height: 100%;
    overflow: hidden;
    padding: 16px 24px 24px 0;
  }
  @media screen and (max-width: 520px) {
    .app-content {
        padding: 16px 12px 24px 12px;
    }
  }