body {
    background-color: #a0d2eb;
}
form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    height: 100vh;
}